# Python
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Git
.git
.gitignore

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Node
client-app/node_modules
client-app/dist

# Database
db.sqlite3
src/db.sqlite3

# Docker
docker-compose.override.yml